@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
box-sizing: border-box;
}

.cv-container {
    max-width: 1100px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

main {
   display: flex;
   justify-content: space-around;
   width: 100%;
   height: 100%;
}


/* LEFT SITE */

.div-left {
    display: flex;
    flex-direction: column;
    width: 32%;
    height: 100%;
    background-color: #ededed;
    border-radius: 20px;
}

.wrapper-photo {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 350px;
    border-radius: 20px 20px 0px 0px;
    border: 100px solid transparent; border-left: 100px solid #1f85eb; border-top: 100px solid #1f85eb;
}

.photo-div{
    display: flex;
    justify-content: center;
    align-items:center;
}

.name-profession {
    display: flex;
    flex-direction: column;
}


.name-profession p:first-child {
    font-size: 300%;
    letter-spacing: 2px;
    color: #1f85eb;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.profession {
    font-size: 25px;
    letter-spacing: 1px;
    color: #2ca59f;
    font-weight: 600;
    font-family: "Lato";
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom:0;
}

.contacts {
    position: relative;
    margin-top: 40px;
}

.line-left {
    display: flex;
    justify-content: center;
    align-items:center;
}

.leftDivHr {
    width: 80%;
}

.contacts p {
    text-align: center;
    font-size: 16px;
    color: #5e5a5a;
    font-weight: 700;
    font-family: "Open Sans"
}

.contacts p span {
    display: block;
    color: #7c7777;
}

.blue-block {
    position: absolute;
    width: 40px;
    height: 5px;
    background-color:#1fcceb;
}


.languages-list {
    margin-top: 40px;
}

 h3 {
    font-size: 20px;
    letter-spacing: 1px;
    color:  #5e5a5a;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center;
    text-transform: uppercase;
}

.languages-list ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 15px;
}

.lang-element {
    display: flex;
    transform:rotate(45deg);
    justify-content: center;
    align-items: center;
    list-style-type: none;
    background-color:rgb(192, 191, 191);
    width: 95px;
    height: 95px;
    margin: 20px 20px;
}

.lang-element span {
    transform: rotate(-45deg);
    color: rgb(60, 100, 112);
    font-weight: bold;
    font-size: large;
}

.wrapper-hobby {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.hobby-img{
    text-align: center; 
}

.hobby-img  img {
    width: 80px;
    height: 80px;
}


.deskript {
    color: rgb(120, 121, 120);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* RIGHT SITE */

.div-right {
    width: 64%;
    height: 100%;
    background-color: #ededed;
    border-radius: 20px;
    /* padding: 35px; */
}

.heading {
    font-size: 20px;
    letter-spacing: 1px;
    color:  #5e5a5a;
    font-weight: 700;
    font-family: "Raleway";
    text-align:start;
    text-transform: uppercase;
}

.line-right {
    display: flex;
    justify-content: flex-start;
    align-items:center;  
}

.rightDivHr {
    width: 100%;
}

.work_exp {
    list-style: none;
}

.position_company {
    display: flex;
    justify-content:left;
    font-size: 18px;
    color: #404040;
    font-weight: 700;
    font-family: "Raleway";
    margin-top: 20px;
    margin-bottom: 15px;
}

.position_company span:first-child {
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight:550;
}

.position_company span:last-child {
    margin-left: 50px;
}

.duration-description {
    display: flex;
    justify-content: space-between;
}

.duration-description  {
    display: flex;
    font-size: 15px;
    color: #404040;
    font-family:Tahoma, sans-serif;
    line-height: 25px;
}

.duration-description {
    margin-left: 60px;
}

.duration-description span:last-child {
    margin-left: 130px;
    text-align: justify;
}


.first-pos .duration-description span:last-child {
    margin-left: 65px;
}

.education {
    list-style: none;
}

.univ-name_duration {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color: #404040;
    font-weight: 700;
    font-family: "Raleway";
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 100px;
}

.univ-name_duration span:last-child {
    font-weight: normal;
    font-family:Tahoma, sans-serif;
    font-size: 15px;
    margin-left: 25px;
}

.specialization {
    display: flex;
    font-size: 15px;
    color: #404040;
    font-family:Tahoma, sans-serif;
    line-height: 25px;
    justify-content: space-around;
    margin-left: 20px;
}

.specialization span:last-child {
    margin-right: 25px;
}

.div-right p {
    font-size: 15px;
    color: #404040;
    font-family:Tahoma, sans-serif;
    line-height: 25px;
    margin-left: 55px;
}